body {
	background-color: white; 
	margin-left: 20%; 
	margin-right: 20%; 
	padding: 10px 10px 10px 10px;
	border: 5px solid orange;
    font-family: Comic Sans MS; 
	font-size: large;
    }
h1 {
  border-bottom: 10px solid orange;
  }
h1,h2 {
	 color: orange;
     }
p {
 color: navy;
 } 
dt {
  color:navy;
  font-size: x-large;
  }
dd {
  color: navy;
  }